<br> 

<h2><%=currentUser.orgName%> Events</h2>


	<div class = 'flex-container'>

		<div class='events'>
			<h3>New Event</h3>
			<form action='/event' method='POST'>
				<div class='inpt field col-md-9 form-group'>
					<input type='text' class='form-control' id='eventName' name='eventName' placeholder='Event Name'>
				</div>
				<div class='inpt field col-md-9 form-group'>
					<input type='date' class='form-control' id='date' name='date' placeholder='Event Date'>
				</div>
				<div class='form-group' hidden>
					<input type='integer' name='userId' value='<%=currentUser.id%>'>
				</div>
				<button type='submit' class='btn btn-lg btn-warning'>Create</button>
			</form>
		</div>
			
<%events.forEach(function(e){%>
	<div class='events'>
		<h3><%=e.name%></h3>
		<a href='/event/<%=e.name%>' class='btn btn-lg btn-warning'>Open</a>
	</div>
	<%});%>
