<div class='container'>
<br> 

<h2><%=currentUser.orgName%> Events</h2>

	<div class = 'flex-container'>


		<div class='events shadow'>
			<h3>New Event</h3>
			<form action='/event' method='POST'>
				<div class='inpt field col-md-12 form-group'>
					<input type='text' class='form-control' id='eventName' name='eventName' placeholder='Event Name'>
				</div>
				<div class='inpt field col-md-12 form-group'>
					<input type='date' class='form-control' id='date' name='date' placeholder='Event Date'>
				</div>
				<div class='form-group' hidden>
					<input type='integer' name='userId' value='<%=currentUser.id%>'>
				</div>
				<button type='submit' class='btn btn-lg btn-light'>Create</button>
			</form>
		</div>
			
<%events.forEach(function(e){%>
	<div class='events shadow'>
		<div class='event-container'>
			<h3><%=e.name%></h3>
			<a href='/event/<%=e.name%>' class='btn btn-lg btn-light'>Open</a>
		</div>
	</div>
	<%});%>

</div>