
<nav class="shadow navbar navbar-dark" style="background-color: #10afb2;">
<ul class="nav">
  <li class="nav-item">
    <a class="navbar-brand" href="/">Auctave</a>
  </li>
     <% if(currentUser) {%>
  <li class="nav-item">
    <a class="nav-link" href="/profile"><%=currentUser.orgName%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link"><%=currentUser.userName%></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/event">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/auth/logout">Log out</a>
  </li>

  <%} else {%>
   <li class="nav-item">
    <a class="nav-link" href="/auth/login">Log In</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/auth/signup">Create Account</a>
  </li>
  <%}%>
</ul>
</nav>