<div id="homepage">

	<div id=home-banner class="shadow">
		<h1>Auctave</h1>
		<h3>harmonious live-auction management</h3> <br>
		<a class="btn btn-lg btn-light home" href="/auth/login">Log In</a>
		<a class="btn btn-lg btn-light home" href="/auth/signup">Create Account</a>

	</div>

</div>