<div id='homepage'>
<%console.log("getting to page route")%>
	<div id='home-banner'>
		<h1>Auctave</h1>
		<h3>harmonious live-auction management</h3> <br>
		<button class='btn btn-lg btn-light home' onclick='showForm()'>Log In</button>
		<button class='btn btn-lg btn-light home' onclick='showForm()'>Create Account</button>

	

		<div id='hiddenForm' class='home-form'>
			<form action='/auth/login' method='POST'>
				<div class='row'>
					
					<div class='inpt field col-md-4 form-group'>
						<label for='userName'>User ID</label>
						<input type='text' class='form-control' id='userName' name='userName' class='validate'>
					</div>
					<div class='inpt field col-md-4 form-group'>
						<label for='password'>Password</label>
						<input type='password' class='form-control' id='password' name='password' class='validate'>
					</div>
				</div>
				
				<button type='submit' class='shadow-sm btn btn-lg btn-warning'>Log In</button>
			</form>
		</div>	
	</div>
</div>

