<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
	.nav-link {
		color: white;
	}
	.events {
		border-radius: 30px;
		background-color: #10B2B2;
		width: 400px;
		height: 400px;
		text-align: center;
		padding-top: 120px;

		margin: 15px;
	}

	.flex-container {
		display: flex;
		justify-content: center;
		width: 80vw;
		margin: auto;

	}
</style>

	<title>Auctive auction management</title>
</head>
<body>
	<% include partials/navbar %>

	<div class="container">
	<% include partials/alerts %>
		<%- body %>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>