<div class='container'>

<br>	

<h2> <%=currentUser.orgName%> Events</h2>

<br>

<div class='card list-card shadow-sm events-list'>

	<%events.forEach(function(e){%>
		<h3>
			<a name='<%e.id%>'href='/event/<%=e.name%>'>
			<%=e.name%>
			</a>
		 </h3>

	<%});%>
</div>


</div>