
<br>

<h1><%= event.name%> page</h1>

 <button type="submit" class="btn btn-lg btn-warning">Add Item</button>

 <button type="submit" class="btn btn-lg btn-warning">View Item List</button>

 <button type="submit" class="btn btn-lg btn-warning">Add Attendee</button>

 <button type="submit" class="btn btn-lg btn-warning">View Attendee List</button>

  <button type="submit" class="btn btn-lg btn-warning">Add Donor</button>

 <button type="submit" class="btn btn-lg btn-warning">View Donor List</button>