
<br>

<h2><%= event.name%> page</h2>

<a class="btn btn-lg btn-warning" name='event.id' href="/item/<%=event.id%>" role="button">Items</a>

<a class="btn btn-lg btn-warning" name='event.id' href="/donor/<%=event.id%>" role="button">Donors</a>

<a class="btn btn-lg btn-warning" name='event.id' href="/attendee/<%=event.id%>" role="button">Attendees</a>


